/*------------------- Global ----------------------*/

:root {
  --white: #ffffff;
  --text-gray: #868e96;
  --text-green: #20c997;
  --text-black: #343a40;
  --text-red: #d9534f;
  --text-blue: #007aff;

  --background: #f4f4f4;
  /* --background-linear: linear-gradient(to bottom, #e9ecef, #b3c7db); */
  --background-linear: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);

  --IBM: "IBM", cursive;
  --Mulish: "Mulish", cursive;
}

@font-face {
  font-family: IBM;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  src: url("./static/font/Mulish-Bold.ttf");
}

/*----------------x--- Global ----x------------------*/

.App {
  text-align: center;
}
