.study-problem {
  $tagColor: rgb(238, 237, 244);

  $ended-bg: #d9fbf4;
  $ended-text: #4ab899;
  $running-bg: #e6e0fe;
  $running-text: #7556f5;
  $todo-bg: rgb(252, 225, 229);
  $todo-text: rgb(224, 104, 119);

  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  font-family: var(--IBM);
  max-width: 1100px;
  overflow: scroll;

  .label {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: var(--text-black);
  }

  .mode-tag {
    align-items: center;

    margin-right: 20px;
    font-size: 0.9rem;
    padding: 3px 10px;
    border-radius: 17px;
  }

  .todo {
    background-color: $todo-bg;
    color: $todo-text;
  }

  .done {
    background-color: $ended-bg;
    color: $ended-text;
  }
  .doing {
    background-color: $running-bg;
    color: $running-text;
  }

  .header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 15px 0;
    gap: 5px;
    align-items: flex-end;

    h1 {
      font-size: 2.4rem;
      padding: 0;
      margin-right: 20px;
    }

    p {
      font-family: var(--IBM);
      font-size: 1rem;
      padding: 0;
      margin-bottom: 5px;
    }
  }
  .time-tag {
    border-radius: 16px;
    background-color: $tagColor;
    padding: 6px 20px;
    font-size: 0.9rem;
    color: var(--text-black);
    font-weight: bold;

    &.assignment {
      background-color: var(--btn-success);
      color: white;

      span {
        color: white;
      }
    }
    span {
      color: var(--text-black);
    }
  }

  main {
    margin-top: 3rem;
    p {
      font-family: var(--IBM);
      font-size: 1rem;
      padding: 0;
      margin-bottom: 5px;
    }

    .flex-row {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      margin-bottom: 2rem;
    }

    table {
      font-family: var(--IBM);
      font-weight: bold;

      .solved {
        width: 28px;
        height: 28px;
      }

      td,
      th {
        text-align: center;
        vertical-align: middle;
        min-width: 7rem;
      }

      .problem-td {
        min-width: 12rem;
      }

      .go-code {
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: var(--text-blue);

          a {
            color: var(--white);
          }
        }
      }
    }
  }
}
