.study-home {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 5vw;
  font-family: var(--IBM);
  max-width: 1200px;
  min-width: 1000px;

  a {
    text-decoration: none;
    color: var(--text-black);
    width: 100%;
    // min-width: 378px;
    padding: 0px;
    height: 100%;
    display: block;
  }

  h1 {
    padding-top: 30px;
    padding-left: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
  }
  .study-wrapper {
    margin-top: 3vh;
    font-family: var(--IBM);

    .studies {
      margin-top: 10vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      width: 100%;
      height: 100%;

      .study-list {
        width: 100%;

        .end {
          display: flex;
          flex-direction: row;
          width: 90%;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          align-items: center;

          h3 {
            margin: 0;
          }

          .btn {
            padding: 0.4rem 1.4rem;
            font-size: 1rem;
          }
        }

        h3 {
          font-size: 1.5rem;
          padding: 0.3rem 0;
        }

        table {
          width: 100%;
          min-width: 378px;
          margin-top: 3vh;

          tr {
            width: 100%;
            display: block;
            td {
              padding: 5px;
              display: inline-block;
              width: 50%;

              &.name {
                font-size: 1.1rem;
                i {
                  margin-right: 5px;
                }
              }

              &.time {
                width: 50%;
                text-align: center;

                .tag {
                  border-radius: 16px;
                  padding: 3px 20px;

                  &.running {
                    background-color: var(--btn-success);
                    color: var(--white);
                  }

                  &.done {
                    background-color: var(--btn-gray);
                    color: var(--white);
                  }
                }
              }
            }

            &:hover {
              background-color: var(--background);
            }
          }
        }
      }
    }
  }
}
