:root {
  --study-width: 212px;
  --study-color: #0d47a1;
}

.sidebar-study .wrapper {
  position: fixed;
  top: 0;
  left: var(--nav-width);
  width: var(--study-width);
  height: 100vh;
  background-color: var(--text-blue);
  display: flex;
  align-items: start;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
