* {
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--IBM);
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100vw;
}

.codeview {
  width: 100%;
  padding: 20px;
}

*::-webkit-scrollbar {
  width: 2px;
  /* background-color: black; */
}

.nameList {
  background-color: grey;
}

.nameList .draggName {
  background-color: white;
}

.fileList .usercode {
  width: 40vw;
}

.fileList .usercode .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.fileList .usercode .code {
  height: 80vh;
  width: 40vw;
}

.fileList .usercode .code code {
  width: 100%;
}

.nameList,
.fileList {
  display: inline-flex;
  margin: 20px 0;
  width: 100vw;
}

.nameList .draggName{
  margin: 10px;
  padding: 10px;
}

.fileList .usercode {
  margin-right: 30px;
}
